@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
  font-size: 16px;
  margin-top: 12px;
  margin-bottom: 4px;
  font-weight: 500;
  line-height: 1.2;
  color: #3f3f3f;
}

.HeaderNav {
  width: 100%;
  overflow: hidden;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}

.container {
  @apply max-w-6xl pt-4 pb-2 px-4 mx-auto lg:max-w-screen-xl;
}

.cardItem {
  width: 350px;
  position: relative;
  border: 1px solid #d1cfc8;
  overflow: hidden;
  margin: 0 20px 20px 0;
}
.CardItem-Title {
  font-size: 18px;
  font-weight: 400;
  background-color: rgba(128, 127, 115, 0.8);
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  color: #fff;
}

.cardItem .CardItem-Title {
  left: 0;
  bottom: 0;
  position: absolute;
  text-align: left;
  width: 100%;
}
.header {
  z-index: 999;
}

.InstructionSteps-Content {
  padding: 30px 40px;
  background-color: #dad9d3;
}
a.ant-breadcrumb-link {
  font-weight: 700;
}

.nav__submenu {
  display: none;
}

.nav__menu-item:hover .nav__submenu {
  display: block;
}
